<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBO6ImQecjvhE8wOydfuPeX6YmXt-mHTE8</string>
	<key>GCM_SENDER_ID</key>
	<string>1005179106414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speakUp</string>
	<key>PROJECT_ID</key>
	<string>speak-up-91c2f</string>
	<key>STORAGE_BUCKET</key>
	<string>speak-up-91c2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005179106414:ios:7931ca244ba039f1e5e27f</string>
</dict>
</plist>